@import url("variables.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");

@font-face {
  font-family: "Laisha";
  src: url("../fonts/laisha.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* TOGGLE SWITCH - From Uiverse.io by Madflows */
.toggle-wrapper {
  position: fixed;
  top: 20px;
  right: 20px;
  transform: scale(0.7); /* Adjust this value to shrink or enlarge the switch */
  transform-origin: top right; /* Keep the toggle at the top-right corner */
  z-index: 1000; /* Ensure it stays on top */
}

.toggle-switch {
  position: relative;
  width: 100px;
  height: 50px;
  --light: #e4dffe;
  --dark: #6a44e3;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
}

.switch-label {
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: var(--dark);
  border-radius: 25px;
  cursor: pointer;
  border: 3px solid var(--dark);
}

.checkbox {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
  box-shadow: inset 12px -4px 0px 0px var(--light);
  background-color: var(--dark);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
  background-color: var(--dark);
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* HEADER */
body {
  background-color: var(--bg-color);
  opacity: 1;
  transition: opacity 0.5s ease;
  scroll-behavior: smooth;
}

/* MAIN */
/* Navigation bar */
.navbar {
  height: 100%;
  width: 120px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  overflow-x: hidden;
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease;
}

.logo {
  width: 80px;
  height: 80px;
}

.nav-links ul {
  list-style: none;
}

.nav-links a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: var(--bg-color);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  padding: 20px 0;
  position: relative;
  transition: all 0.3s ease;
}

.nav-links a.active::before {
  content: "";
  position: absolute;
  right: -22px; /* Slight offset from the right */
  top: 50%;
  transform: translateY(-50%);
  height: 35px; /* Adjust the height to match the height of the link */
  width: 4px; /* Width of the stroke */
  border-radius: 10px;
  background-color: var(--bg-color);
  transition: all 0.3s ease;
}

/* Bold for Active Link */
.nav-links a.active {
  font-weight: 800; /* Make the active link bold */
}

.contact-icons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 45px;
}

.contact-icons a:hover svg {
  transform: scale(1.5); /* Scale up the icon */
  transition: transform 0.3s ease; /* Smooth transition for the scaling */
}

#hamburger-menu {
  display: none;
}

/* Main content*/
.main {
  margin-left: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;
}

/* About section */
.about-wrapper {
   display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 80px;
}

.about {
  display: flex;
  justify-content: space-between; /* Ensure the text and image are spread across the width */
  align-items: center;
  gap: 50px;
}

h3 {
  color: var(--primary-color);
  font-family: "Laisha", "Fugaz One", sans-serif;
  font-size: 50px;
  padding-bottom: 28px;
}

p {
  color: var(--text-color);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 15px;
}

.p-about {
  width: 540px;
}

.profile-picture {
  height: 500px;
  height: 500px;
}

#arrow-about {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 100px;
}

/* Projects */
.projects-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 80px;
}

.rainydays-wrapper,
.csm-wrapper,
.tmd-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rainydays,
.csm,
.tmd {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 50px;
}

.rainydays-img,
.csm-img,
.tmd-img {
  width: 540px;
  height: 385px;
  overflow: auto;
}

.rainydays-img img,
.csm-img img,
.tmd-img img {
  width: 100%; /* Image will take the full width of the container */
  height: auto;
}

.rainydays-text,
.cms-text,
.tmd-text {
  width: 540px;
}

h4 {
  color: var(--text-color);
  font-family: "Laisha", "Fugaz One", sans-serif;
  font-size: 40px;
  padding-bottom: 10px;
}

.tech-icons {
  padding-bottom: 15px;
}

.tech-icons img {
  height: 40px;
  width: 40px;
}

.repo-live-links {
  display: flex;
  gap: 35px;
}

.repo-live-links a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

#arrow-projects {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 190px;
}

/* Skills */
.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  padding: 0 80px;
}

.tech-icons-skills {
  display: flex;
  padding-bottom: 100px;
  gap: 30px;
}
.tech-icons-skills img {
  width: 68px;
  height: 68px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.tech-icons-skills img:hover {
  transform: scale(1.2); /* Scale up the icon */
  filter: brightness(1.2);
}

/* Contact */
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  /* padding-bottom: 300px;
  padding-top: 170px; */
  padding: 170px 80px 300px 80px;
}

.contact p {
  width: 646px;
}

.contact a[href^="mailto:"] {
  color: var(--text-color);
  text-decoration: none;
}

/* Hide the dark mode arrow by default */
#dark-mode-arrow {
  display: none;
}

/* When dark mode is active, show the dark mode arrow and hide the light mode arrow */
.dark-mode #dark-mode-arrow {
  display: block;
}

.dark-mode #light-mode-arrow {
  display: none;
}

/* Both arrows take the same space */
dotlottie-player {
  position: absolute; /* They will be stacked in the same position */
  width: 300px;
  height: 300px;
  left: 50%; /* Center horizontally */
  transform: translateX(
    -50%
  ); /* Center the Lottie player by shifting it left by 50% of its width */
  bottom: 0;
}

/* MEDIA QUERIES */
/* mobile to small tablet */
@media screen and (min-width: 360px) and (max-width: 600px) {
  h1 {
    font-size: 55px;
  }

  h2 {
    font-size: 20px;
  }

  .about{
    flex-wrap: wrap-reverse;
    justify-content: center;

  }

  .rainydays,
  .csm,
  .tmd {
    flex-wrap: wrap-reverse;
  }

  .navbar {
    transform: translateX(-100%); /* Hide the navbar off the screen */
    transition: transform 0.3s ease;
  }

  #hamburger-menu {
    position: fixed;
        top: 40px;
        left: 25px;
        z-index: 10;
        display: block;
        cursor: pointer;
  }

  .navbar.active {
    transform: translateX(0); /* Bring the navbar back on screen when active */
  }

  .logo {
    position: relative;
    top: 80px; /* Move the logo down when the navbar is shown */
    transition: top 0.3s ease;
  }

  #hamburger-menu.active + .navbar .logo {
    top: 20px; /* Reset the logo to its original position when the navbar is hidden */
  }

  /* Adjust hamburger icon size */
  #hamburger {
    width: 70px;
    height: 50px;
  }

  
}

/* tablet and small laptops */
@media screen and (min-width: 601px) and (max-width: 900px) {
  h1 {
    font-size: 98px;
  }

  h2 {
    font-size: 25px;
  }

  .about{
    flex-wrap: wrap-reverse;
    justify-content: center;
  }

  .rainydays,
  .csm,
  .tmd {
    flex-wrap: wrap-reverse;
  }
}
/* laptop to larger desktops */
@media screen and (min-width: 901px) and (max-width: 1440px) {
}
/* larger monitors */
@media screen and (min-width: 1441px) {
}
