@import url("variables.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Laisha";
  src: url("../fonts/laisha.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* TOGGLE SWITCH - From Uiverse.io by Madflows */
.toggle-wrapper {
  position: fixed;
  top: 20px;
  right: 20px;
  transform: scale(0.7); /* Adjust this value to shrink or enlarge the switch */
  transform-origin: top right; /* Keep the toggle at the top-right corner */
  z-index: 1000; /* Ensure it stays on top */
}

.toggle-switch {
  position: relative;
  width: 100px;
  height: 50px;
  --light: #e4dffe;
  --dark: #6a44e3;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
}

.switch-label {
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: var(--dark);
  border-radius: 25px;
  cursor: pointer;
  border: 3px solid var(--dark);
}

.checkbox {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
  box-shadow: inset 12px -4px 0px 0px var(--light);
  background-color: var(--dark);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
  background-color: var(--dark);
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* HEADER */
body {
  background-color: var(--bg-color);
  opacity: 1;
  transition: opacity 0.5s ease;
}

.center-header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 250px;
}

h1 {
  color: var(--primary-color);
  font-family: "Laisha", sans-serif;
  font-size: 200px;
  line-height: 0.8;
  white-space: nowrap; /* Prevent the text from wrapping */
  display: inline-block;
}

/* Tracking In Contract Animation - Source: Animista.net */
.tracking-in-contract-bck {
  -webkit-animation: tracking-in-contract-bck 2s
    cubic-bezier(0.445, 0.05, 0.55, 0.95) both;
  animation: tracking-in-contract-bck 2s cubic-bezier(0.445, 0.05, 0.55, 0.95)
    both;
}

@-webkit-keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

h2 {
  color: var(--text-color);
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 40px;
  align-items: flex-end;
  position: relative;
  right: -350px;
}

#arrow {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 140px;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0); /* Original position */
  }
  40% {
    transform: translateY(-10px); /* Move up */
  }
  60% {
    transform: translateY(-5px); /* Move slightly down */
  }
}

#arrow:hover {
  cursor: pointer;
}

/* MAIN */
/* Navigation bar */
.navbar {
  height: 100%;
  width: 120px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  overflow-x: hidden;
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 80px;
  height: 80px;
}

.nav-links ul {
  list-style: none;
}

.nav-links a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: var(--bg-color);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 35px;
}

.contact-icons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 45px;
}

/* Main content*/
.main {
  margin-left: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 100px;
}

/* About section */
.about-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 100px;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 50px;
}

h3 {
  color: var(--primary-color);
  font-family: "Laisha", sans-serif;
  font-size: 50px;
  padding-bottom: 28px;
}

p {
  color: var(--text-color);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 15px;
}

.p-about {
  width: 540px;
}

.profile-picture {
  height: 500px;
  height: 500px;
}

#arrow-about {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 90px;
}
*/

/* Projects */ 
.projects-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.rainydays-wrapper,
.csm-wrapper,
.tmd-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rainydays,
.csm,
.tmd {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 50px;
}

.rainydays-img,
.csm-img,
.tmd-img {
  width: 515px;
  height: 385px;
  overflow: auto;
}

.rainydays-img img,
.csm-img img,
.tmd-img img {
  width: 100%; /* Image will take the full width of the container */
  height: auto;
}

.rainydays-text,
.cms-text,
.tmd-text {
  width: 554px;
}

h4 {
  color: var(--text-color);
  font-family: "Laisha", sans-serif;
  font-size: 40px;
  padding-bottom: 10px;
}

.tech-icons {
  padding-bottom: 15px;
}

.tech-icons img {
  height: 40px;
  width: 40px;
}

.repo-live-links {
  display: flex;
  gap: 35px;
}

.repo-live-links a{
  display: flex; 
  flex-direction: row;
  text-decoration: none;
}

#arrow-projects {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 190px;
}

/* Skills */ 
.skills {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.tech-icons-skills {
  display: flex;
  padding-bottom: 100px;
  gap: 30px;
}
.tech-icons-skills img{
  width: 68px;
  height: 68px;
}

